<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>海风教育CRM系统-我的信息</title>
<link href="../../css/common.css" rel="stylesheet" type="text/css" />
<link href="../../css/index.css" rel="stylesheet" type="text/css" />
<link href="../../js/miniui/themes/default/miniui.css" rel="stylesheet" type="text/css" />
<link href="../../js/miniui/themes/icons.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/tab_change.js"></script><!--tab切换-->
<script type="text/javascript" src="../../js/miniui/miniui.js"></script>

<!--[if IE 6]>
<script type="text/javascript"  src="../../js/DD_belatedPNG_0.0.8a-min.js" ></script>
<script type="text/javascript" >
DD_belatedPNG.fix('.common_bg,.debte_png,#slide_img_wrap .btn ul li,#slide_img_wrap .btn ul li:hover,.page .colum .colum_content .content_inner .right_select .right_tab li a.select');
</script>
<![endif]-->
</head>

<body>
	<div class="page">
		<div class="header clearfix ">
			<div class="logo fl ">
				<h1><a href="#" class="out_text">海风教育</a></h1>
			</div>
		</div>
		<div class="colum">
			<div class="clearfix colum_btn_wrap">
				<ul class="clearfix colum_btn fl">
					<li class="fl select"><a href="../course/course_manage.html" class=""></a></li><!--课程管理-->
					<li class="fl"><a href="../student/apply_manage.html" class="clss_center"></a></li><!--学员管理-->
					<li class="fl"><a href="../answer/question_manage.html" class="why_system"></a></li><!--答疑系统-->
					<li class="fl"><a href="../account/account_info.html" class="about"></a></li><!--用户账号-->
				</ul>
				<ul class="know fr clearfix">
					<li class="fl ">当前用户：</li>
					<li class="fl"><strong>张三</strong></li>
					<li class="fl">角色：</li>
					<li class="fl"><strong>超级管理员</strong></li>
					<li class="fl"><a href="#">[ 退出 ]</a></li>
				</ul>
			</div>
			<div class="colum_content">
				<div class="content_inner clearfix">
					<div class="fl left_nav">
						<ul>
							<li><a href="my_course.html" class="">我辅导的课程</a></li>
							<li><a href="my_student.html" class="">我带的学生</a></li>
							<li><a href="my_info.html" class="select">我的详情</a></li>
						</ul>
					</div>
					<div class="fl right_select">
						<ul class="right_tab tab_btn_ul">
							<li><a href="#"  class="select">我的信息</a></li>
						</ul>
						<div class="tab_content_wrap ">
							<div class="tab_content show">
								<form class="select" action="" method="post">
									<div class="set_bg">
										<h4>我的基本信息</h4>
										<ul class="clearfix mal_special">
											<li class="fl">
												<span>　辅导员编号：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl">
												<span>　　　　专业：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl">
												<span>　辅导员姓名：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl">
												<span>　　电子邮件：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl">
												<span>　　　　高中：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl">
												<span>　　　　大学：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl">
												<span>大学入学年份：</span>
												<select class="input_width">
													<option value="2000">2000</option>
													<option value="2001">2001</option>
													<option value="2002">2002</option>
													<option value="2003">2003</option>
													<option value="2004">2004</option>
												</select>
											</li>
											<li class="fl">
												<span>　　高中选科：</span>
												<input type="text" class="text" name=""/>
											</li>
											
											<li class="fl ">
												<span>能带的人上限：</span>
												<select class="input_width">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
												</select>
											</li>
											<li class="fl clearfix">
												<span class="text">　　个人介绍：</span>
												<textarea class="fr textar2"></textarea>
											</li>
											<li class="fl">
												<span class="fl">可辅导的课程：</span>
												<ul id="tree2" class="mini-tree fl small_tree" url="data/tree.txt" style="" showTreeIcon="true" textField="text" idField="id" showCheckBox="true"  checkRecursive="true" allowSelect="false" enableHotTrack="false"></ul>
											</li>
										</ul>
									</div>
									<input type="submit" value="保存" class="btn select common_bg save"/>
								</form>
								<form action="" method="post">
									<div class="set_bg">
										<h4>修改密码</h4>
										<ul class="clearfix mal_special">
											<li class="">
												<span>　　原密码：</span>
												<input type="password" class="text" name=""/>
											</li>
											<li class="">
												<span>　　新密码：</span>
												<input type="password" class="text" name=""/>
											</li>
											<li class="">
												<span>确认新密码：</span>
												<input type="password" class="text" name=""/>
											</li>
										</ul>
									</div>
									<input type="submit" value="确认修改密码" class="btn select common_bg" id=""/>
									<input type="button" value="取消" class="btn select common_bg"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="copyright">
				<div class="fl">
					<p>京ICP备12014130号 © 2005-2012 版权所有，并保留所有权利</p>
					<p>服务提供商: 某某网络 CERNET</p>
				</div>
				<h3 class="fr"><a href="#"></a></h3>
			</div>
		</div>
	</div>
</body>
</html>