@charset "utf-8";
/* CSS Document */

/* 弹出层 */
.dialog-box{ position: absolute; z-index:1001}
.dialog-popup{/*background-color:#333333\9;*/filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F333333', endColorstr='#7F333333'); position:relative;z-index:29; zoom:1;background:rgba(51,51,51,0.5);  padding: 10px;}
.dialog-popup .dialog-title-bar{ height:30px; background-color:#CDCDCD; position:relative;}
.dialog-popup .dialog-title-bar h2{ line-height:30px; padding-left:10px; font-size:14px; font-weight:700}
.dialog-popup .dialog-title-bar a.close-dialog{ position:absolute;top:5px; right:10px; background-color:#FFFFFF; border:1px solid #000; font-size:14px; font-weight:700; display:block; height:18px; width:18px; line-height:18px;}
.dialog-popup .dialog-title-bar a.close-dialog{text-decoration:none; color:#555555; text-align:center;}
.dialog-popup .dialog-title-bar a.close-dialog:hover{text-decoration:none; color:#333333}
.dialog-content{ background-color:#FFFFFF; padding:10px}
.dialog-iframe-mask{position:absolute; left:0; top:0; border: none;}
.boxy-modal-blackout{position:absolute; left:0; top:0; border: none; background-color:#333333; overflow:hidden; z-index:999}


.dialog-box{}
.dialog-box .text14{font-size:14px;}
.dialog-box .dialog-content{width:460px;overflow:hidden;}
.dialog-box input.save{margin-left:45%;}
.dialog-box ul{margin:10px 5px;_overflow:hidden;}
.dialog-box li{margin-left:0;}
.dialog-box textarea{width:420px;height:40px;}
.dialog-box textarea.small{margin-left:0;width:344px;}
.dialog-box textarea.dialog_small{_margin:0;}
.dialog-box p{padding-left:10px;}
.dialog-box p.center{font-size:15px;text-align:center;color:#f00;font-weight:bold;}
.dialog-box p.large{font-size:14px;margin:10px 0;text-align:center;}
.dialog-box p.large strong{color:#f00;font-weight:normal;}
.dialog-box select.select_big{width:202px;}

.dialog-box h4.text14{color:#555;}
.dialog-box  label span.radio_span{position:relative;top:-2px;}
.dialog-box  label span.check_span{position:relative;top:0px\9;}
.dialog-box  label.top_label span{font-weight:bold;color:#444;}
.dialog-box .sub_radio{margin:10px 0;}
.dialog-box  label.sub_label{margin:0 10px;}

.dialog-box table.select_result{margin:20px 0;border-left:1px solid #999;}
.dialog-box table.select_result th,.dialog-box table.select_result td{padding:5px;}
.dialog-box table.select_result th{border-right:1px solid #777;}
.dialog-box table.select_result td{border-bottom:1px solid #999;border-right:1px solid #999;}