<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>海风教育CRM系统-课程管理</title>
<link href="../../css/common.css" rel="stylesheet" type="text/css" /><!--通用css-->
<link href="../../css/index.css" rel="stylesheet" type="text/css" /><!--专有css-->
<link href='../../css/dialog.css' rel='stylesheet' type='text/css' /><!--dialog css-->
<script type="text/javascript" src="../../js/jquery.min.js"></script><!--jquery基本-->
<script type="text/javascript" src="../../js/jquery.dialog.js"></script><!--jquery dialog-->
<script type="text/javascript" src="../../js/kindeditor-4.1/kindeditor.js"></script><!--kindeditor-->
<script type="text/javascript" src="../../js/kindeditor-4.1/lang/zh_CN.js"></script><!--kindeditor-->
<!--<script type="text/javascript" src="../../js/load_editor.js"></script>加载kindeditor-->
<script type="text/javascript" src="../../js/tab_change.js"></script><!--tab切换-->
<script type="text/javascript" src="../../js/del_confirm.js"></script><!--删除确认-->
<script type="text/javascript">
jQuery(function ($){
	//开始弹出层
	$("#add_card").click(function (){
		var dialogBox1= new Dialog("<form class='select' action='' method='post'> <div class='set_bg'><ul class='clearfix'> <li  class='fl clearfix'> <span class=''>图片:</span><input type='file'/></li><li  class='fl clearfix'> <span class=''>超链接:</span><input type='text' class='text'/></li></ul><input type='submit' value='保存' class='btn select common_bg big_btn' style='margin-left:185px;'/></div> </form>",{
			'width':'500px',
			'title':'fuck world!',
			'closeModal':false,
			modal: true,
			title: '新增走马灯',
			closeDelay:'500000'
		});
	});
	//结束弹出层
});

</script>
<!--[if IE 6]>
<script type="text/javascript"  src="../../js/DD_belatedPNG_0.0.8a-min.js" ></script>
<script type="text/javascript" >
DD_belatedPNG.fix('.common_bg,.debte_png,#slide_img_wrap .btn ul li,#slide_img_wrap .btn ul li:hover,.page .colum .colum_content .content_inner .right_select .right_tab li a.select');
</script>
<![endif]-->
</head>

<body>
	<div class="page">
		<div class="header clearfix ">
			<!--后台logo开始-->
			<div class="logo fl ">
				<h1><a href="#" class="out_text">海风教育</a></h1>
			</div>
			<!--后台logo结束-->
		</div>
		<div class="colum">
			<!--tab和用户开始-->
			<div class="clearfix colum_btn_wrap">
				<ul class="clearfix colum_btn fl">
					<li class="fl "><a href="course_manage.html" class=""></a></li><!--课程管理-->
					<li class="fl"><a href="../student/apply_manage.html" class="clss_center"></a></li><!--学员管理-->
					<li class="fl"><a href="../answer/question_manage.html" class="why_system"></a></li><!--答疑系统-->
					<li class="fl"><a href="../account/account_info.html" class="about"></a></li><!--用户账号-->
					<li class="fl"><a href="../counsellor/my_course.html" class="fudaoyuan"></a></li><!--辅导员-->
					<li class="fl select"><a href="../index/pic.html" class="index"></a></li><!--辅导员-->
				</ul>
				<ul class="know fr clearfix">
					<li class="fl ">当前用户：</li>
					<li class="fl"><strong>张三</strong></li>
					<li class="fl">角色：</li>
					<li class="fl"><strong>超级管理员</strong></li>
					<li class="fl"><a href="#">[ 退出 ]</a></li>
				</ul>
			</div>
			<!--tab和用户结束-->
			<div class="colum_content">
				<div class="content_inner clearfix">
					<!--左侧菜单开始-->
					<div class="fl left_nav">
						<ul>
							<li><a href="pic.html"  class="select">走马灯管理</a></li>
							<li><a href="course_card.html">课程卡片</a></li>
						</ul>
					</div>
					<!--左侧菜单结束-->
					<div class="fl right_select">
						<ul class="right_tab tab_btn_ul">
							<li><a href="pic.html"  class="select">走马灯管理</a></li>
						
						<!-- 	<li><a href="#"  class="">新增课程</a></li>
							<li><a href="#"  class="">课程详细</a></li> -->
						</ul>
						<div class="tab_content_wrap ">
							<div class="tab_content show">
								<form class="select" action="" method="post">
									<input type="button" id="add_card" value="新增走马灯" class="btn add common_bg"/>
								</form>
								<form>
									<div class="set_bg">
										<h4>查询结果列表</h4>
										<!--表格开始-->
										<table width="772" cellspacing="0" cellpadding="0" class="select_result">
											<tr>
												<th height="31" width="30"><input type="checkbox" name="" class="checkbox"/></th>
											
												<th >操作</th>
												<th>编号</th>
												<th>图片url</th>
												<th>超链接</th>
											</tr>
											<tr class="double">
												<td height="31"><input type="checkbox" name="" class="checkbox"/></td>
												<td>1</td>
												<td>
													<a href="#" class="blue delete_btn">删除</a>
												</td>
												<td>
													<a href="#" class="blue">http://hostname/img/a.jpg</a>
												</td>
												<td>
													<a href="#" class="blue">http://www.baidu.com</a>
												</td>
											
											</tr>
											
										</table>
										<!--表格结束-->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--页脚开始-->
		<div class="footer">
			<div class="copyright">
				<div class="fl">
					<p>京ICP备12014130号 © 2005-2012 版权所有，并保留所有权利</p>
					<p>服务提供商: 某某网络 CERNET</p>
				</div>
				<h3 class="fr"><a href="#"></a></h3>
			</div>
		</div>
		<!--页脚结束-->
	</div>
</body>
</html>