<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>海风教育CRM系统-报名管理</title><!--标题-->
<link href="../../css/common.css" rel="stylesheet" type="text/css" /><!--通用css-->
<link href="../../css/index.css" rel="stylesheet" type="text/css" /><!--专有css-->
<script type="text/javascript" src="../../js/jquery.min.js"></script><!--jquery基本-->
<script type="text/javascript" src="../../js/kindeditor-4.1/kindeditor.js"></script><!--kindeditor-->
<script type="text/javascript" src="../../js/kindeditor-4.1/lang/zh_CN.js"></script><!--kindeditor-->
<script type="text/javascript" src="../../js/load_editor.js"></script><!--加载kindeditor-->
<script type="text/javascript" src="../../js/tab_change.js"></script><!--tab切换-->

<!--[if IE 6]>
<script type="text/javascript"  src="../../js/DD_belatedPNG_0.0.8a-min.js" ></script>
<script type="text/javascript" >
DD_belatedPNG.fix('.common_bg,.debte_png,#slide_img_wrap .btn ul li,#slide_img_wrap .btn ul li:hover,.page .colum .colum_content .content_inner .right_select .right_tab li a.select');
</script>
<![endif]-->
</head>

<body>
	<div class="page">
		<div class="header clearfix ">
			<!--后台logo开始-->
			<div class="logo fl ">
				<h1><a href="#" class="out_text">海风教育</a></h1>
			</div>
			<!--后台logo结束-->
		</div>
		<div class="colum">
			<!--tab和用户开始-->
			<div class="clearfix colum_btn_wrap">
				<ul class="clearfix colum_btn fl">
					<li class="fl"><a href="../course/course_manage.html" class=""></a></li><!--课程管理-->
					<li class="fl select"><a href="apply_manage.html" class="clss_center"></a></li><!--学员管理-->
					<li class="fl"><a href="../answer/question_manage.html" class="why_system"></a></li><!--答疑系统-->
					<li class="fl"><a href="../account/account_info.html" class="about"></a></li><!--用户账号-->
				</ul>
				<ul class="know fr clearfix">
					<li class="fl ">当前用户：</li>
					<li class="fl"><strong>张三</strong></li>
					<li class="fl">角色：</li>
					<li class="fl"><strong>超级管理员</strong></li>
					<li class="fl"><a href="#">[ 退出 ]</a></li>
				</ul>
			</div>
			<!--tab和用户结束-->
			<div class="colum_content">
				<div class="content_inner clearfix">
					<!--左侧菜单开始-->
					<div class="fl left_nav">
						<ul>
							<li><a href="course_manage.html" class="select">报名管理</a></li>
							<li><a href="counsellor_manage.html" >学员查询</a></li>
						</ul>
					</div>
					<!--左侧菜单结束-->
					<div class="fl right_select">
						<ul class="right_tab tab_btn_ul">
							<li><a href="course_manage.html">报名管理</a></li>
						<!-- 	<li><a href="#"  class="">新增课程</a></li>
							<li><a href="#"  class="">课程详细</a></li> -->
						</ul>
						<div class="tab_content_wrap ">
							<div class="tab_content show">
								<form class="select" action="" method="post">
									<div class="set_bg">
										<h4>查询条件</h4>
										<ul class="clearfix">
											<li class="fl ">
												<span>　报名时间：</span>
												<input type="text" class="text small" name=""/>
												<span class="to">至</span>
												<input type="text" class="text small" name=""/>
											</li>
											<li class="fl">
												<span>　学员姓名：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl">
												<span>　手机号码：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl">
												<span>　课程名称：</span>
												<input type="text" class="text" name=""/>
											</li>
											<li class="fl" >
												<span>　学员类型：</span>
												<select class="input_width">
													<option value="0">报名中</option>
													<option value="1">报满</option>
													<option value="2">停止报名</option>
													<option value="3">已开课</option>
													<option value="4">已结课</option>
												</select>
											</li>
											<li class="fl">
												<span>　　辅导员：</span>
												<select class="input_width">
													<option value="0">无</option>
													<option value="1">报满</option>
													<option value="2">停止报名</option>
													<option value="3">已开课</option>
													<option value="4">已结课</option>
												</select>
											</li><li class="fl">
												<span>　　　状态：</span>
												<select class="input_width">
													<option value="0">报名中</option>
													<option value="1">报满</option>
													<option value="2">停止报名</option>
													<option value="3">已开课</option>
													<option value="4">已结课</option>
												</select>
											</li>
										</ul>
									</div>
									<input type="button" value="新增报名" class="btn select common_bg" id="add_registration"/>
									<input type="submit" value="确认收款" class="btn add common_bg"/>
									<input type="submit" value="分配辅导员" class="btn add common_bg"/>
									<input type="submit" value="开通电子课程" class="btn delete common_bg big_btn"/>
									<input type="submit" value="删除" class="btn delete common_bg delete_btn"/>
								</form>
								<form>
									<div class="set_bg">
										<h4>查询结果列表</h4>
										<table width="772" cellspacing="0" cellpadding="0" class="select_result">
											<tr>
												<th height="31" width="30"><input type="checkbox" name="" class="checkbox"/></th>
												<th >&nbsp;</th>
												<th >操作</th>
												<th>报名状态</th>
												<th>辅导员</th>
												<th>状态</th>
												<th>学员</th>
												<th>类型</th>
                                                <th>课程名称</th>
                                                <th>支付金额</th>
                                                <th>支付方式</th>
                                                <th>支付银行</th>
											</tr>
											<tr class="double">
												<td height="31"><input type="checkbox" name="" class="checkbox"/></td>
												<td>1</td>
												<td>
													<a href="#" class="blue">确认收款</a> 
                                                    <br />
													<a href="#" class="blue delete_btn">删除</a>
												</td>
												<td>
													<a href="#" class="red">未确认收款</a>
												</td>
												<td>
													<a href="#" class="red">待分配</a>
												</td>
												<td>
													<div>无</div>
												</td>
												<td>
													李三强 <br /> 134456785678
												</td>
												<td>老学员</td>
                                                <td>复旦鄙视课程 <br /> 杨浦班级</td>
                                                <td> ￥20000.00</td>
                                                <td>线下汇款</td>
                                                <td>中国工商银行</td>
											</tr>
											<tr>
												<td height="31"><input type="checkbox" name="" class="checkbox"/></td>
												<td>2</td>
												<td>
													<a href="#" class="blue">分配辅导员</a>
                                               			<br />     
													<a href="#" class="blue">开通电子课程</a>
												</td>
												<td>
													<a href="#" class="red">待操作</a>
												</td>
												<td>
													<a href="#" class="red">待分配</a>
												</td>
												<td>
													<div class="red">已开通</div>
												</td>
												<td>
													李三强 <br /> 134456785678
												</td>
												<td>老学员</td>
                                                <td>复旦鄙视课程 <br /> 杨浦班级</td>
                                                <td> ￥20000.00</td>
                                                <td>线下汇款</td>
                                                <td>中国工商银行</td>
											</tr>
											<tr class="double">
												<td height="31"><input type="checkbox" name="" class="checkbox"/></td>
												<td>3</td>
												<td>
													<a href="#" class="blue">确认收款</a>
													<a href="#" class="blue delete_btn">删除</a>
												</td>
												<td>
													<a href="#" class="blue">未确认收款</a>
												</td>
												<td>
													<a href="#" class="blue">待分配</a>
												</td>
												<td>
													<div class="blue">无</div>
												</td>
												<td>
													李三强 <br /> 134456785678
												</td>
												<td>老学员</td>
                                                <td>复旦鄙视课程 <br /> 杨浦班级</td>
                                                <td> ￥20000.00</td>
                                                <td>线下汇款</td>
                                                <td>中国工商银行</td>
											</tr>
											<tr>
												<td height="31"><input type="checkbox" name="" class="checkbox"/></td>
												<td>4</td>
												<td>
													<a href="#" class="blue">确认收款</a>
													<a href="#" class="blue delete_btn">删除</a>
												</td>
												<td>
													<a href="#" class="blue">未确认收款</a>
												</td>
												<td>
													<a href="#" class="blue">待分配</a>
												</td>
												<td>
													<div class="blue">无</div>
												</td>
												<td>
													李三强 <br /> 134456785678
												</td>
												<td>老学员</td>
                                                <td>复旦鄙视课程 <br /> 杨浦班级</td>
                                                <td> ￥20000.00</td>
                                                <td>线下汇款</td>
                                                <td>中国工商银行</td>
											</tr>
											<tr class="double">
												<td height="31"><input type="checkbox" name="" class="checkbox"/></td>
												<td>5</td>
												<td>
													<a href="#" class="blue">确认收款</a>
													<a href="#" class="blue delete_btn">删除</a>
												</td>
												<td>
													<a href="#" class="blue">未确认收款</a>
												</td>
												<td>
													<a href="#" class="blue">待分配</a>
												</td>
												<td>
													<div class="blue">无</div>
												</td>
												<td>
													李三强 134456785678
												</td>
												<td>老学员</td>
                                                <td>复旦鄙视课程 杨浦班级</td>
                                                <td> ￥20000.00</td>
                                                <td>线下汇款</td>
                                                <td>中国工商银行</td>
											</tr>
										</table>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--页脚开始-->
		<div class="footer">
			<div class="copyright">
				<div class="fl">
					<p>京ICP备12014130号 © 2005-2012 版权所有，并保留所有权利</p>
					<p>服务提供商: 某某网络 CERNET</p>
				</div>
				<h3 class="fr"><a href="#"></a></h3>
			</div>
		</div>
		<!--页脚结束-->
	</div>
</body>
</html>