@charset "utf-8";
/* CSS Document */

.page .login{margin-top:7px;margin-bottom:43px;}
.page .login p.login_top{text-align:right;margin-bottom:11px;}
.page .login p.login_top a{color:#000;font-size:14px;margin-left:16px;}
.page .login form{width:438px;height:278px;border:1px solid #298da7;padding:30px 0 0 0px;background:url(../images/login_right_top.jpg) right top no-repeat;}
.page .login form .login_right_top{padding-left:37px;padding-bottom:6px;}
.page .login form .login_right_top h2{font-size:24px;color:#000;margin-bottom:34px;}
.page .login form .login_right_top ul li{margin-bottom:12px;}
.page .login form .login_right_top ul li span.input_text{color:#000;font-size:14px;}
.page .login form .login_right_top ul li a.text{color:#298da7;margin-left:13px;}
.page .login form .login_right_top ul li span.input_text,.page .login form ul li a.text{position:relative\9;top:-6px\9;}
.page .login form .login_right_top ul li input.text{width:190px;height:28px;height:15px\9;border:1px solid #c3c3c3;padding:0 5px;padding:8px 5px 3px 5px\9;}
.page .login form .login_right_top ul li input.very_code{width:93px;margin-right:8px;}
.page .login form .login_right_top ul li input.button,.page .login form .login_right_top ul li a.regist{width:70px;height:26px;background-position:0 -138px;border:0;text-indent:-9999px;cursor:pointer;margin-top:10px;}

.page .login form .login_right_top ul li.float_li span{display:block;width:70px;height:28px;}
.page .login form .login_right_top ul li a.regist{display:block;margin:10px 0 0 62px;background-position:-462px -138px;margin-top:16px\9;}

.page .login form .login_right_btm{padding:22px 0 0 37px;border-top:1px solid #298da7;}
.page .login form .login_right_btm li strong{color:#000;font-size:14px;}
.page .login form .login_right_btm li{padding-top:2px;}
.page .login form .login_right_btm li a{font-size:14px;color:#000;margin-left:13px;padding:2px 0 2px 20px;}
.page .login form .login_right_btm li a:hover{text-decoration:none;}
.page .login form .login_right_btm li a.sina{background-position:-784px -131px;}
.page .login form .login_right_btm li a.renren{background-position:-784px -103px;}


.page .colum .colum_content .registration .mt20{margin-bottom:20px !important;}
.page .colum .colum_content .registration{padding:17px 0 77px 0;}
.page .colum .colum_content .registration h2{font-size:24px;color:#000;margin-bottom:8px;}
.page .colum .colum_content .registration h2.mt38{margin-bottom:38px;}
.page .colum .colum_content .registration h2.mt38 .small{color:#888;font-size:15px;margin-left:25px;}

.page .colum .colum_content .registration .news_content{padding-bottom:20px;border-bottom:1px dotted #ccc;margin-bottom:30px;}
.page .colum .colum_content .registration  h2.news_title{margin:10px 0 30px 0;}
.page .colum .colum_content .registration .news_content h2.news_title a{color:#000;}
.page .colum .colum_content .registration .news_content h3.news_h3{margin:20px 0;}
.page .colum .colum_content .registration .news_content h3.news_h3 a,.page .colum .colum_content .registration .news_content h3.news_h3{font-size:20px;color:#298DA7;}
.page .colum .colum_content .registration .news_content h3.news_h3 a:hover{text-decoration:none;}
.page .colum .colum_content .registration .news_content h4.news_h4{color:#000;font-size:16px;margin:20px 0;}
.page .colum .colum_content .registration .news_list{margin:10px 0;font-size:14px;color:#000;line-height:20px;}
.page .colum .colum_content .registration .news_content .news_dl dt,.page .colum .colum_content .content_inner .content_left .news_dl dt{font-weight:bold;margin-bottom:10px;background-position:-795px -917px;padding-left:15px;}
.page .colum .colum_content .registration .news_content .news_dl dd,.page .colum .colum_content .content_inner .content_left .news_dl dd{margin-bottom:10px;padding-left:16px;}
.page .colum .colum_content .registration .news_content .news_dl dd.pl101{padding-left:101px;}
.page .colum .colum_content .registration .news_content a.url{color:#298DA7 !important;}
.page .colum .colum_content .registration .news_content p.registration_btn{padding:20px 0;background-position:-784px -963px;padding-left:30px;}
.page .colum .colum_content .registration .news_content p.registration_btn a{font-size:20px;}
.page .colum .colum_content .registration .news_content dl dt.width_auto{width:auto !important;}

.page .colum .colum_content .registration .news_content p.map{margin:20px 0;}
.page .colum .colum_content .registration .news_content p.map a{font-size:16px;}

.page .colum .colum_content .registration h3{font-size:14px;color:#000;margin-bottom:5px;}
.page .colum .colum_content .registration p{color:#000;}
.page .colum .colum_content .registration p a{color:#298da7;font-weight:bold;}
.page .colum .colum_content .registration .step{height:63px;margin:23px 0;background:url(../images/registration_step1.gif) left top no-repeat;}
.page .colum .colum_content .registration .step2{background:url(../images/registration_step2.gif) left top no-repeat;}
.page .colum .colum_content .registration .step3{background:url(../images/registration_step3.gif) left top no-repeat;}
.page .colum .colum_content .registration .step4{background:url(../images/registration_step4.gif) left top no-repeat;}
.page .colum .colum_content .registration  span.hidden{color:#eee;}
.page .colum .colum_content .registration   ul li{margin:13px 0;}
.page .colum .colum_content .registration  ul li span.input_text{color:#010101;font-size:14px;}
.page .colum .colum_content .registration   ul li a.text{color:#298da7;margin-left:13px;}
.page .colum .colum_content .registration   ul li span.input_text,.page .login form ul li a.text{position:relative\9;top:-6px\9;}
.page .colum .colum_content .registration   ul li input.text{width:259px;height:28px;height:15px\9;border:1px solid #aaa;padding:0 5px;padding:8px 5px 3px 5px\9;}

.page .colum .colum_content .registration  span.note3{color:#b00;}
.page .colum .colum_content .registration   input.button{width:70px;height:26px;border:0;text-indent:-9999px;cursor:pointer;margin-top:10px;}
.page .colum .colum_content .registration   ul li input.send_code{width:85px;height:26px;margin-left:12px;margin-top:0;background-position:-253px -138px;}
.page .colum .colum_content .registration   input.next_step{background-position:-126px -138px;}
.page .colum .colum_content .registration   input.submit_btn{background-position:0 -617px;}

.page .colum .colum_content .registration  .large_class{width:auto !important;}

.page .colum .colum_content .registration p.back_p{text-align:center\9;}
.page .colum .colum_content .registration p.back_p a.back{color:#fff;cursor:pointer;margin-left:460px;margin-left:0\9;}

.page .colum .colum_content .registration  dl.choose_teacher{background:#fff;border:1px solid #ccc;padding:15px;_padding-bottom:0px;margin:20px 0;}
.page .colum .colum_content .registration  dl.choose_teacher dt{width:130px;}
.page .colum .colum_content .registration  dl.choose_teacher dd{margin-left:20px;}
.page .colum .colum_content .registration  dl.choose_teacher dd.width796{width:796px;}
.page .colum .colum_content .registration  dl.choose_teacher dd.clear{clear:both;margin:0 0 10px 335px;padding-top:20px;_margin-top:-10px;_padding-bottom:10px;}
.page .colum .colum_content .registration  dl.choose_teacher dd.clear a,.page .colum .colum_content .registration p.back_p a.back{display:block;width:78px;height:22px;line-height:22px;text-align:center;background-position:-118px -542px !important;}
.page .colum .colum_content .registration  dl.choose_teacher dd.clear a:hover,.page .colum .colum_content .registration p.back_p a.back:hover{text-decoration:none;}

.page .colum .colum_content .registration  dl.choose_teacher dd.clear #pay_now{width:113px;background-position:0 -780px !important;}

.page .colum .colum_content .registration  dl.choose_teacher dt .select_btn{margin:10px 0 0 20px;}
.page .colum .colum_content .registration  dl.choose_teacher dd p{line-height:27px;font-size:13px;}
.page .colum .colum_content .registration  dl.choose_teacher dd .mr10{margin-right:10px;}
.page .colum .colum_content .registration  dl.choose_teacher dd p.low_text{height:82px;overflow:hidden;color:#666;}
.page .colum .colum_content .registration  dl.choose_teacher dd p .course{font-weight:bold;font-size:18px;}

.page .colum .colum_content .registration  dl.choose_teacher dd.my_course{height:130px;overflow:hidden;_padding-bottom:15px;}
.page .colum .colum_content .registration  dl.choose_teacher dd.my_course p{line-height:34px;}
.page .colum .colum_content .registration  dl.choose_teacher dd.my_course .small{color:#888;}
.page .colum .colum_content .registration  dl.choose_teacher dd.my_course .high_light{color:#f00;}
.page .colum .colum_content .registration  dl.choose_teacher dd.my_course .green{color:#008000;}
.page .colum .colum_content .registration  dl.choose_teacher dd .m5{margin:0 5px;}

.page .colum .colum_content .registration  dl.choose_teacher dd a.extra{margin-left:20px;}
.page .colum .colum_content .registration  dl.choose_teacher dd.detail{width:auto;_padding-bottom:15px;}
.page .colum .colum_content .registration  dl.choose_teacher dd .cyan{color:#298DA7;font-size:16px;}
.page .colum .colum_content .registration  dl.choose_teacher dd .pm{display:block;padding-bottom:2031px;margin-bottom:-2000px;}
.page .colum .colum_content .registration  dl.choose_teacher dd .pm55{padding-bottom:2055px;}
.page .colum .colum_content .registration  dl.choose_teacher dd .pm91{padding-bottom:2091px;}
.page .colum .colum_content .registration  dl.choose_teacher dd .pl20{}
.page .colum .colum_content .registration  dl.choose_teacher dd .url{color:#000;font-weight:normal;}


.page .colum .colum_content .registration   ul li textarea{height:88px;width:259px;padding:5px;border:1px solid #aaa;resize:none;}
.page .colum .colum_content .registration   ul li label input.radio,.page .colum .colum_content .registration form  ul li span.text3,.page .colum .colum_content .registration form  ul li span.check_span,.page .colum .colum_content .registration form  ul li input.checkbox{margin-right:5px;}
.page .colum .colum_content .registration   ul li span.text3,.page .colum .colum_content .registration form  ul li span.check_span{color:#010101;}
.page .colum .colum_content .registration   ul li label.br_label{margin-left:108px;}
.page .colum .colum_content .registration   ul li span.textarea_text{display:block;float:left;position:relative;top:3px\9;}
.page .colum .colum_content .registration   ul li span.iehack{position:relative;top:0px\9;}


.page .colum .colum_content .registration input.text{width:338px;height:18px;padding:3px 5px;border:1px solid #ccc;}
.page .colum .colum_content .registration input.search_btn{width:91px;height:26px;border:none;cursor:pointer;margin-left:5px;position:relative;top:1px;background-position:0 -475px;}

/* Safari */
@media screen and (-webkit-min-device-pixel-ratio:0)
{.page .colum .colum_content .registration input.search_btn{position:relative;top:-4px;}}

.page .colum .colum_content .registration h5{font-size:18px;color:#000;margin:13px 0;}
.page .colum .colum_content .registration h6{color:#000;font-size:15px;margin:13px 0;}

.page .colum .colum_content .content_inner{}
.page .colum .colum_content .content_inner .content_left{width:730px;}
.page .colum .colum_content .content_inner .content_left .left_title{margin:13px 0 20px 0;}
.page .colum .colum_content .content_inner .content_left .basic_info{background:#fff;border:1px solid #ccc;padding:20px;padding-top:10px;}


.page .colum .colum_content .content_inner .content_right{width:240px;}
.page .colum .colum_content .content_inner .content_right .right_title{font-size:15px;padding-left:40px;margin:13px 0 20px 0;}
.page .colum .colum_content .content_inner .content_right ul.nav_list{margin-left:10px;background:#fff;border:1px solid #ccc;}
.page .colum .colum_content .content_inner .content_right ul.nav_list li{padding-left:55px;margin:20px 0;padding-top:5px;padding-bottom:5px;}

.page .colum .colum_content .content_inner .content_right ul.nav_list li.basic{background-position:-755px -1091px;}
.page .colum .colum_content .content_inner .content_right ul.nav_list li.pwd{background-position:-755px -1115px;}
.page .colum .colum_content .content_inner .content_right ul.nav_list li.course{background-position:-755px -1193px;}
.page .colum .colum_content .content_inner .content_right ul.nav_list li.cents{background-position:-755px -1139px;}
.page .colum .colum_content .content_inner .content_right ul.nav_list li.invoice{background-position:-755px -1166px;}

.page .colum .colum_content .content_inner .content_right ul.nav_list li.all{background-position:-755px -1193px;}
.page .colum .colum_content .content_inner .content_right ul.nav_list li.one{background-position:-755px -1232px;}
.page .colum .colum_content .content_inner .content_right ul.nav_list li.two{background-position:-755px -1263px;}
.page .colum .colum_content .content_inner .content_right ul.nav_list li.three{background-position:-755px -1297px;}


.page .colum .colum_content .content_inner .content_right ul.nav_list li a{color:#000;font-size:13px;}

.page .colum .colum_content .registration table.confirm{border:1px solid #ccc;background:#fff;margin-bottom:45px;}
.page .colum .colum_content .registration table.confirm th,.page .colum .colum_content .registration table.confirm td{height:26px;line-height:26px;color:#010101;text-align:center;font-size:14px;border-bottom:1px solid #eee;}
.page .colum .colum_content .registration table.confirm th{font-weight:bold;}
.page .colum .colum_content .registration table.confirm tr.last{border:none;}

.page .colum .colum_content .registration table.course_table{border-right:none;}
.page .colum .colum_content .registration table.course_table th,.page .colum .colum_content .registration table.course_table td{border-right:1px solid #ccc;padding:8px;}
.page .colum .colum_content .registration table.course_table th{background:#eee;border-bottom:1px solid #ccc;}

.page .colum .colum_content .registration  .right_tab{height:28px;_position:relative;_z-index:100;}
.page .colum .colum_content .registration  .right_tab li{float:left;*display:inline;margin-top:0;}
.page .colum .colum_content .registration  .right_tab li a{display:block;color:#555;width:90px;height:28px;line-height:28px;text-align:center;font-weight:bold;background:url(../images/white_border.gif) left top no-repeat;border:1px solid #ccc;border-bottom:none;}
.page .colum .colum_content .registration  .right_tab li a:hover{text-decoration:none;background:url(../images/white.gif) left top no-repeat;}
.page .colum .colum_content .registration  .right_tab li a.select{background:url(../images/white.gif) left top no-repeat;}
.page .colum .colum_content .registration  .right_tab li a.select:hover{}

.page .colum .colum_content .registration .tab_content_wrap,.page .colum .colum_content .registration .news_dl,.page .colum .colum_content .registration .new_ul{background:#fff;padding:30px 20px;border:1px solid #ccc;margin-bottom:16px;_margin-top:-1px;}

.page .colum .colum_content .registration .answer_tab{margin-top:30px;}


.page .colum .colum_content .registration .tab_content_wrap ul.pay_method{}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_method li{height:40px;line-height:40px;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_method li label{display:block;height:40px;cursor:pointer;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_method li .radio{height:40px;line-height:40px;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_method li span{width:535px;height:40px;margin-left:14px;background-position:0 -233px;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_method li span.taobao{background-position:0 -300px;}

.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank{}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li{width:600px;height:60px;line-height:60px;margin:0 10px 20px 0;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label{display:block;height:60px;line-height:60px;cursor:pointer;float:left;*display:inline;} 
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label .pay_wrap{width:560px;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label span.icon{display:block;width:60px;height:60px;text-indent:-9999px;background:url(../images/bank_bg.png) left top no-repeat;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li .total_money{color:#f00;font-weight:bold;margin-left:30px;font-size:20px;height:60px;line-height:60px;}

.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label input.radio{height:60px;line-height:60px;margin-right:15px;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label .bank_info{margin-left:10px;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label .bank_info p{line-height:20px;}

/*支付银行*/
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label span.ICBC{background-position:0 0;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label span.CCB{background-position:0 -69px;}
.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label span.ABC{background-position:0 -140px;}
/*支付银行*/

.page .colum .colum_content .registration .tab_content_wrap ul.pay_bank li label span.xianchang{width:300px;background:url(../images/common_bg.png) -5px -836px no-repeat;}
.page .colum .colum_content .registration .tab_content_wrap p.note{color:#666;}


.page .colum .colum_content .registration .confirm_wrap{text-align:center;}
.page .colum .colum_content .registration .confirm_wrap input.btn{width:104px;height:26px;float:right;background-position:0 -398px;border:none;cursor:pointer;*display:inline;}
.page .colum .colum_content .registration .confirm_wrap input.go_taobao{width:87px;margin-left:11px;background-position:-115px -398px;}
.page .colum .colum_content .registration .confirm_wrap input.go_user_center{background-position:0 -706px;float:none;}


.page .colum .colum_content .registration  .inner_tab{background:#bcbcbc;}
.page .colum .colum_content .registration  .inner_tab li a.select{background:#ddd;color:#444;}
.page .colum .colum_content .registration  .inner_tab li a.select:hover{color:#555;}

.page .colum .colum_content .registration  .tab_content_wrap .tab_content{display:none;}
.page .colum .colum_content .registration  .tab_content_wrap .show{display:block;}

.page .colum .colum_content .registration  .tab_content_wrap .ans_dl{font-size:14px;color:#000;padding-left:13px;margin-bottom:20px;background:url(../images/answer_left.gif) left top repeat-y;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dt{}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li{float:left;*display:inline;margin-right:10px;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li.course_title{width:650px;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li a.lists{display:block;width:87px;height:22px;text-align:center;line-height:22px;font-size:12px;background:#1094b6;color:#fff;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li a.lists:hover{background:#ff4e18;color:#fff;text-decoration:none;}

.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li ul.course{width:492px;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li ul.course li{margin-top:0px;}

.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li.btn{float:left;margin-top:10px;*display:inline;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li.btn a,.page .colum .colum_content .registration form dl.choose_teacher dt .select_btn{display:block;width:78px;height:22px;line-height:22px;text-align:center;color:#fff;font-size:13px;background-position:0 -542px;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li.btn a:hover,.page .colum .colum_content .registration form dl.choose_teacher dt .select_btn:hover{text-decoration:none;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li.btn a.view_more_pay{background-position:-118px -542px !important;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li.btn a.view_more_free{background-position:0 -542px !important;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd ul.btns_ul li.btn a.correct_error{color:#000;background-position:-118px -475px !important;}


.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd .detail{display:none;width:822px;padding-top:13px;margin-left:57px;margin-top:6px;background:url(../images/title_top.gif) left top no-repeat;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd .detail ul.detail_ul{padding:20px;border:1px solid #ccc;border-top:none;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd .detail ul.detail_ul li.question{color:#000;margin-bottom:20px;line-height:23px;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd .detail ul.detail_ul li.question ul {width:400px;margin-left:5px;}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd .detail ul.detail_ul li.question ul li{}
.page .colum .colum_content .registration  .tab_content_wrap .ans_dl dd .detail ul.detail_ul li.answer p{color:#555;line-height:20px;}


/* 弹出层 */
.dialog-box{ position: absolute; z-index:1001}
.dialog-popup{/*background-color:#333333\9;*/filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F333333', endColorstr='#7F333333'); position:relative;z-index:29; zoom:1;background:#fff url(../images/login_right_top.jpg) right top no-repeat;border:1px solid #ccc;padding: 33px;filter:alpha(opacity="100");}
.dialog-popup .dialog-title-bar{ height:30px; position:relative;}
.dialog-popup .dialog-title-bar h2{ font-size:24px;line-height:30px; padding-left:10px;margin-bottom:30px !important;font-weight:700}

.dialog-popup .dialog-title-bar a.close-dialog{display:none;position:absolute;top:5px; right:10px; background-color:#FFFFFF; border:1px solid #000; font-size:14px; font-weight:700; display:block; height:18px; width:18px; line-height:18px;}
.dialog-popup .dialog-title-bar a.close-dialog{display:none;text-decoration:none; color:#555555; text-align:center;}
.dialog-popup .dialog-title-bar a.close-dialog:hover{text-decoration:none; color:#333333}
.dialog-content{ background-color:#FFFFFF; padding:10px}
.dialog-iframe-mask{position:absolute; left:0; top:0; border: none;}
.boxy-modal-blackout{position:absolute; left:0; top:0; border: none; background-color:#333333; overflow:hidden; z-index:999}


.dialog-box{}
.dialog-box .dialog-content{width:434px;overflow:hidden;}
.dialog-box input.text{width:307px !important;height:28px;line-height:28px;padding:0 5px;border:1px solid #c3c3c3;width:290px\9;}
.dialog-box input.save{margin-left:45%;}
.dialog-box input.btns{width:70px;height:26px;text-indent:-9999px;cursor:pointer;border:none;background-position:0 -617px;}
.dialog-box input.close-dialog{margin-left:7px;margin-top:10px;background-position:-77px -617px;position:relative\9;left:-10px\9;_left:-25px;}

.dialog-box input.sub_btn{margin-left:256px;margin-top:10px;_position:relative;_left:240px;}
.dialog-box input.left236{margin-left:130px;_left:110px;}
.dialog-box input.right20{}

.dialog-box input.small_text{width:117px !important;}
.dialog-box .very_code{margin-left:10px;}


.dialog-box ul{margin:10px 5px;_overflow:hidden;}
.dialog-box li{margin-left:0;margin:5px 0;}
.dialog-box li span.text{position:relative;top:-7px\9;}
.dialog-box li span.text2{display:block;height:100px;line-height:100px;float:left;*display:inline;margin-right:4px;}
.dialog-box li span.content{font-size:14px;}
.dialog-box li strong.title{font-size:15px;margin:10px 0;color:#666;}
.dialog-box li .high_light{color:#f00;position:relative;top:-5px\9;}
.dialog-box li label{margin:0 5px;}
.dialog-box li label .radio{margin:0 5px;}
.dialog-box textarea{width:297px;height:80px;border:1px solid #c3c3c3;padding:10px;resize:none;width:297px\9;_width:280px;overflow:hidden\9;_margin-left:-3px;}
.dialog-box textarea.small{margin-left:0;width:340px;_margin-top:-20px;_margin-left:-12px;}

.dialog-box ul.invoice li{margin:10px 0;}
.dialog-box ul.invoice li span.text{font-size:14px;}

/* Safari */
@media screen and (-webkit-min-device-pixel-ratio:0)
{.dialog-box textarea{float:right;}}


.dialog-box p{padding-left:10px;}
.dialog-box p.center{font-size:15px;text-align:center;color:#f00;}